.container {
  width: 100%;
  padding: 4rem 1rem;

  & > article {
    width: 100%;
    max-width: 720px;
    margin: 0 auto;

    & > h1 {
      font-size: 3.375rem;
      font-weight: 900;
    }

    & > time {
      font-size: 1rem;
      display: block;
      color: var(--gray-300);
      margin-top: 1.5rem;
    }

    & > div {
      margin-top: 2rem;
      color: var(--gray-100);
      font-size: 1.125rem;

      p, ul, ol {
        margin: 1.5rem 0;
      }

      ul, ol {
        list-style-position: inside;
        margin-left: 0.5rem;

        li {
          margin: 0.5rem 0;

          &::marker {
            color: var(--yellow-500);
          }
        }
      }

      a {
        color: var(--yellow-500);
      }

      &.preview {
        background-image: linear-gradient(var(--gray-100), transparent);
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}
